<form class="chris-sound-soundpad">
<!-- Spieler-Auswahl (nicht mehr benötigt, aber auskommentiert) -->
<!--
<div class="form-group">
    <label for="player-select">Zielspieler auswählen:</label>
    <select id="player-select" class="player-select form-control">
        {{#each users}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>
-->


  <!-- Spieler-Auswahl -->
<div class="form-group">
  <label for="player-select">Zielspieler auswählen:</label>
  <div id="player-select" class="player-select form-control">
    {{#each users}}
    <div class="form-check">
      <input class="form-check-input player-option" type="checkbox" id="player-{{@index}}" name="player-select" value="{{this.name}}">
      <label class="form-check-label" for="player-{{@index}}">
        {{this.name}}
      </label>
    </div>
    {{/each}}
  </div>
</div>


  <!-- Drop-Bereich für Sounds -->
  <div class="soundpad-drop-area">
    Ziehen Sie Sounds aus einer Wiedergabeliste hierher.
  </div>

  <!-- Liste der Sounds -->
  <div class="sound-list">
    {{#each sounds}}
    <button type="button" class="sound-button" data-sound-id="{{@index}}" data-sound-name="{{this.name}}" data-src="{{this.src}}">
      {{this.name}}
    </button>
    {{/each}}
  </div>

  <!-- Anzeige des aktuell ausgewählten Sounds -->
  <div class="selected-sound-info">
    <span class="selected-sound-display">Aktueller Sound: {{selectedSoundName}}</span>
  </div>

  <!-- Medien-Steuerung -->
  <div class="media-controls">
    <button type="button" class="play-button" style="position: relative;">🎵 Play</button>
    <button type="button" class="stop-button" style="position: relative;">🛑 Stop</button>
  </div>

  <!-- Lautstärkeregler -->
  <div class="volume-control">
    <label for="volume-slider">Lautstärke:</label>
    <input id="volume-slider" type="range" min="0" max="1" step="0.01" value="0.8" />
  </div>

  <div class="master-volume-control">
    <label for="master-volume-slider">Gesamtlautstärke:</label>
    <input id="master-volume-slider" type="range" min="0" max="1" step="0.01" value="0.8" />
</div>

  <!-- Button: Alle Sounds entfernen -->
  <button type="button" class="clear-sounds">Alle Sounds entfernen</button>
</form>